@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
	font-family: 'Arita-buri-SemiBold';
	color: #efdca8;
	font-size: 0.8em;
	display: inline-block;
	margin-right: 10vw;
	animation-name: op1;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

p{
	font-family: 'Arita-buri-SemiBold';
	color: #efdca8;
	font-size: 0.2em;
	display: inline-block;
	line-height: 2;
	margin-top:2.2vw;
	margin-right: 4vw;
	margin-bottom: 3vw;
	animation-name: op1;
	animation-duration: 5s;
	animation-fill-mode: forwards;
}

@keyframes op1{
	0%{opacity: 0%;

	}
	100%{opacity: 100%
		
	}
}

.back{
	background-color: #121130;
	animation-name: back;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	animation-duration: 8s;
}

@keyframes back {
	0%{
		background-color: #121130;
	}
	100%{
		background-color: #0c0a21;
	}
}

.back2{
	position: absolute; 
	top: 10vh;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: red;
	animation-name: back2;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-duration: 8s;
}

@keyframes back2 {
	0%{
		background-color: #121130;
		margin-left: 0;
	}
	100%{
		background-color: #0c0a21;
		margin-left: 100%;
	}
}


.particle{
	position: absolute;
	z-index: -2;
	left: calc(50% - 40vw);
	top: calc(50% - 49.7vh);
}

.particle1{
	position: absolute;
	animation-name: particle1;
	animation-duration: 8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle1{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle2{
	position: absolute;
	animation-name: particle2;
	animation-duration: 8s;
	animation-delay: 0.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle2{
	0%{
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle3{
	position: absolute;
	animation-name: particle3;
	animation-duration: 8s;
	animation-delay: 0.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle3{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle4{
	position: absolute;
	animation-name: particle4;
	animation-duration: 8s;
	animation-delay: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle4{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle5{
	position: absolute;
	animation-name: particle5;
	animation-duration: 8s;
	animation-delay: 0.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle5{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle6{
	position: absolute;
	animation-name: particle6;
	animation-duration: 8s;
	animation-delay: 0.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle6{
	0%{
		left: 0;
		top: calc(50% + 10vh)
	}

	100%{
		left: 100%;
		top: calc(50% + 10vh)
	}
}

.particle7{
	position: absolute;
	animation-name: particle7;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle7{
	0%{
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle8{
	position: absolute;
	animation-name: particle8;
	animation-duration: 8s;
	animation-delay: 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle8{
	0%{
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle9{
	position: absolute;
	animation-name: particle9;
	animation-duration: 8s;
	animation-delay: 0.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle9{
	0%{
		left: 0;
		top: calc(50% - 15vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 15vh)
	}
}

.particle10{
	position: absolute;
	animation-name: particle10;
	animation-duration: 8s;
	animation-delay: 0.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle10{
	0%{
		left: 0;
		top: calc(50% - 43vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 43vh)
	}
}

.particle11{
	position: absolute;
	animation-name: particle11;
	animation-duration: 8s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle11{
	0%{
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle12{
	position: absolute;
	animation-name: particle12;
	animation-duration: 8s;
	animation-delay: 1.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle12{
	0%{
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle13{
	position: absolute;
	animation-name: particle13;
	animation-duration: 8s;
	animation-delay: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle13{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 51vh)
	}
}

.particle14{
	position: absolute;
	animation-name: particle14;
	animation-duration: 8s;
	animation-delay: 1.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle14{
	0%{
		left: 0;
		top: calc(50% - 25vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 25vh)
	}
}

.particle15{
	position: absolute;
	animation-name: particle15;
	animation-duration: 8s;
	animation-delay: 1.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle15{
	0%{
		left: 0;
		top: calc(50% - 51vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 51vh)
	}
}

.particle16{
	position: absolute;
	animation-name: particle16;
	animation-duration: 8s;
	animation-delay: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle16{
	0%{
		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle17{
	position: absolute;
	animation-name: particle17;
	animation-duration: 8s;
	animation-delay: 1.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle17{
	0%{
		left: 0;
		top: calc(50% - 20vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 20vh)
	}
}

.particle18{
	position: absolute;
	animation-name: particle18;
	animation-duration: 8s;
	animation-delay: 1.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle18{
	0%{
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle19{
	position: absolute;
	animation-name: particle19;
	animation-duration: 8s;
	animation-delay: 1.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle19{
	0%{
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle20{
	position: absolute;
	animation-name: particle20;
	animation-duration: 8s;
	animation-delay: 1.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle20{
	0%{
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle21{
	position: absolute;
	animation-name: particle21;
	animation-duration: 8s;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle21{
	0%{
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle22{
	position: absolute;
	animation-name: particle22;
	animation-duration: 8s;
	animation-delay: 2.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle22{
	0%{
		left: 0;
		top: calc(50% - 48vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 48vh)
	}
}

.particle23{
	position: absolute;
	animation-name: particle23;
	animation-duration: 8s;
	animation-delay: 2.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle23{
	0%{
		left: 0;
		top: calc(50% - 22vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 22vh)
	}
}

.particle24{
	position: absolute;
	animation-name: particle24;
	animation-duration: 8s;
	animation-delay: 2.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle24{
	0%{
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle25{
	position: absolute;
	animation-name: particle25;
	animation-duration: 8s;
	animation-delay: 2.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle25{
	0%{
		left: 0;
		top: calc(50% - 37vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 37vh)
	}
}

.particle26{
	position: absolute;
	animation-name: particle26;
	animation-duration: 8s;
	animation-delay: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle26{
	0%{
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle27{
	position: absolute;
	animation-name: particle27;
	animation-duration: 8s;
	animation-delay: 2.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle27{
	0%{
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle28{
	position: absolute;
	animation-name: particle28;
	animation-duration: 8s;
	animation-delay: 2.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle28{
	0%{ 

		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle29{
	position: absolute;
	animation-name: particle29;
	animation-duration: 8s;
	animation-delay: 2.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle29{
	0%{ 
		
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle30{
	position: absolute;
	animation-name: particle30;
	animation-duration: 8s;
	animation-delay: 2.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle30{
	0%{ 
		
		left: 0;
		top: calc(50% - 8vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 8vh)
	}
}

.particle31{
	position: absolute;
	animation-name: particle31;
	animation-duration: 8s;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle31{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle32{
	position: absolute;
	animation-name: particle32;
	animation-duration: 8s;
	animation-delay: 3.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle32{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle33{
	position: absolute;
	animation-name: particle33;
	animation-duration: 8s;
	animation-delay: 3.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle33{
	0%{ 
		
		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle34{
	position: absolute;
	animation-name: particle34;
	animation-duration: 8s;
	animation-delay: 3.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle34{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle35{
	position: absolute;
	animation-name: particle35;
	animation-duration: 8s;
	animation-delay: 3.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle35{
	0%{ 
		
		left: 0;
		top: calc(50% - 20vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 20vh)
	}
}

.particle36{
	position: absolute;
	animation-name: particle36;
	animation-duration: 8s;
	animation-delay: 3.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle36{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle37{
	position: absolute;
	animation-name: particle37;
	animation-duration: 8s;
	animation-delay: 3.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle37{
	0%{ 
		
		left: 0;
		top: calc(50% - 38vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 38vh)
	}
}

.particle38{
	position: absolute;
	animation-name: particle38;
	animation-duration: 8s;
	animation-delay: 3.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle38{
	0%{ 
		
		left: 0;
		top: calc(50% - 25vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 25vh)
	}
}

.particle39{
	position: absolute;
	animation-name: particle39;
	animation-duration: 8s;
	animation-delay: 3.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle39{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle40{
	position: absolute;
	animation-name: particle40;
	animation-duration: 8s;
	animation-delay: 3.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle40{
	0%{ 
		
		left: 0;
		top: calc(50% - 53vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 53vh)
	}
}

.particle41{
	position: absolute;
	animation-name: particle41;
	animation-duration: 8s;
	animation-delay: 4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle41{
	0%{ 
		
		left: 0;
		top: calc(50% - 53vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 53vh)
	}
}

.particle42{
	position: absolute;
	animation-name: particle42;
	animation-duration: 8s;
	animation-delay: 4.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle42{
	0%{ 
		
		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle43{
	position: absolute;
	animation-name: particle43;
	animation-duration: 8s;
	animation-delay: 4.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle43{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle44{
	position: absolute;
	animation-name: particle44;
	animation-duration: 8s;
	animation-delay: 4.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle44{
	0%{ 
		
		left: 0;
		top: calc(50% - 42vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 42vh)
	}
}

.particle45{
	position: absolute;
	animation-name: particle45;
	animation-duration: 8s;
	animation-delay: 4.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle45{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle46{
	position: absolute;
	animation-name: particle46;
	animation-duration: 8s;
	animation-delay: 4.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle46{
	0%{ 
		
		left: 0;
		top: calc(50% - 33vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 33vh)
	}
}

.particle47{
	position: absolute;
	animation-name: particle47;
	animation-duration: 8s;
	animation-delay: 4.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle47{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle48{
	position: absolute;
	animation-name: particle48;
	animation-duration: 8s;
	animation-delay: 4.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle48{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle49{
	position: absolute;
	animation-name: particle49;
	animation-duration: 8s;
	animation-delay: 4.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle49{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle50{
	position: absolute;
	animation-name: particle50;
	animation-duration: 8s;
	animation-delay: 4.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle50{
	0%{ 
		
		left: 0;
		top: calc(50% - 47vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 47vh)
	}
}

.particle51{
	position: absolute;
	animation-name: particle51;
	animation-duration: 8s;
	animation-delay: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle51{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle52{
	position: absolute;
	animation-name: particle52;
	animation-duration: 8s;
	animation-delay: 5.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle52{
	0%{ 
		
		left: 0;
		top: calc(50% - 25vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 25vh)
	}
}

.particle53{
	position: absolute;
	animation-name: particle53;
	animation-duration: 8s;
	animation-delay: 5.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle53{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle54{
	position: absolute;
	animation-name: particle54;
	animation-duration: 8s;
	animation-delay: 5.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle54{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle55{
	position: absolute;
	animation-name: particle55;
	animation-duration: 8s;
	animation-delay: 5.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle55{
	0%{ 
		
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle56{
	position: absolute;
	animation-name: particle56;
	animation-duration: 8s;
	animation-delay: 5.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle56{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle57{
	position: absolute;
	animation-name: particle57;
	animation-duration: 8s;
	animation-delay: 5.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle57{
	0%{ 
		
		left: 0;
		top: calc(50% - 43vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 43vh)
	}
}

.particle58{
	position: absolute;
	animation-name: particle58;
	animation-duration: 8s;
	animation-delay: 5.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle58{
	0%{ 
		
		left: 0;
		top: calc(50% - 20vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 20vh)
	}
}

.particle59{
	position: absolute;
	animation-name: particle59;
	animation-duration: 8s;
	animation-delay: 5.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle59{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle60{
	position: absolute;
	animation-name: particle60;
	animation-duration: 8s;
	animation-delay: 5.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle60{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle61{
	position: absolute;
	animation-name: particle61;
	animation-duration: 8s;
	animation-delay: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle61{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle62{
	position: absolute;
	animation-name: particle62;
	animation-duration: 8s;
	animation-delay: 6.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle62{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle63{
	position: absolute;
	animation-name: particle63;
	animation-duration: 8s;
	animation-delay: 6.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle63{
	0%{ 
		
		left: 0;
		top: calc(50% - 15vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 15vh)
	}
}

.particle64{
	position: absolute;
	animation-name: particle64;
	animation-duration: 8s;
	animation-delay: 6.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle64{
	0%{ 
		
		left: 0;
		top: calc(50% - 38vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 38vh)
	}
}

.particle65{
	position: absolute;
	animation-name: particle65;
	animation-duration: 8s;
	animation-delay: 6.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle65{
	0%{ 
		
		left: 0;
		top: calc(50% - 38vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 38vh)
	}
}

.particle66{
	position: absolute;
	animation-name: particle66;
	animation-duration: 8s;
	animation-delay: 6.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle66{
	0%{ 
		
		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle67{
	position: absolute;
	animation-name: particle67;
	animation-duration: 8s;
	animation-delay: 6.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle67{
	0%{ 
		
		left: 0;
		top: calc(50% - 18vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 18vh)
	}
}

.particle68{
	position: absolute;
	animation-name: particle68;
	animation-duration: 8s;
	animation-delay: 6.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle68{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle69{
	position: absolute;
	animation-name: particle69;
	animation-duration: 8s;
	animation-delay: 6.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle69{
	0%{ 
		
		left: 0;
		top: calc(50% - 40vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 40vh)
	}
}

.particle70{
	position: absolute;
	animation-name: particle70;
	animation-duration: 8s;
	animation-delay: 6.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle70{
	0%{ 
		
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle71{
	position: absolute;
	animation-name: particle71;
	animation-duration: 8s;
	animation-delay: 7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle71{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle72{
	position: absolute;
	animation-name: particle72;
	animation-duration: 8s;
	animation-delay: 7.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle72{
	0%{ 
		
		left: 0;
		top: calc(50% - 52vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 52vh)
	}
}

.particle73{
	position: absolute;
	animation-name: particle73;
	animation-duration: 8s;
	animation-delay: 7.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle73{
	0%{ 
		
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}

.particle74{
	position: absolute;
	animation-name: particle74;
	animation-duration: 8s;
	animation-delay: 7.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle74{
	0%{ 
		
		left: 0;
		top: calc(50% - 47vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 47vh)
	}
}

.particle75{
	position: absolute;
	animation-name: particle75;
	animation-duration: 8s;
	animation-delay: 7.4s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle75{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle76{
	position: absolute;
	animation-name: particle76;
	animation-duration: 8s;
	animation-delay: 7.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle76{
	0%{ 
		
		left: 0;
		top: calc(50% - 50vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 50vh)
	}
}

.particle77{
	position: absolute;
	animation-name: particle77;
	animation-duration: 8s;
	animation-delay: 7.6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle77{
	0%{ 
		
		left: 0;
		top: calc(50% - 47vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 47vh)
	}
}

.particle78{
	position: absolute;
	animation-name: particle78;
	animation-duration: 8s;
	animation-delay: 7.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle78{
	0%{ 
		
		left: 0;
		top: calc(50% - 30vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 30vh)
	}
}

.particle79{
	position: absolute;
	animation-name: particle79;
	animation-duration: 8s;
	animation-delay: 7.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle79{
	0%{ 
		
		left: 0;
		top: calc(50% - 35vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 35vh)
	}
}

.particle80{
	position: absolute;
	animation-name: particle80;
	animation-duration: 8s;
	animation-delay: 7.9s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes particle80{
	0%{ 
		
		left: 0;
		top: calc(50% - 45vh)
	}

	100%{
		left: 100%;
		top: calc(50% - 45vh)
	}
}